*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0F2040;
    color: #000;
    font-family: "Exo";
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 28px auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:    "header header header"
                            "sidebar contenido contenido"
                            "sidebar contenido contenido"
                            "footer footer footer";

}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px; 
}

.contenedor .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    background: #2E4F8C;
    color:#fff;
    grid-area: header;
}

li{
    display: inline;
    float: left;
    /* border-right:1px solid #bbb;
    border-left:1px solid #bbb; */
    border-radius: 4px;
}

li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  li a:hover:not(.active) {
    background-color: #123D8C;
  }
  
  .active {
    background-color: #0F2040;
  }

.navegacion {
    display: inline;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
  }

.contenedor .contenido{
    background-color: whitesmoke;
    grid-area: contenido;
}

.contenido h1{
    color: black;
}

.contenedor .sidebar{
    color: whitesmoke;
    grid-column: 3 / 4;
    background: #8C6104;
    /* grid-row: 2/4; */
    min-height: 100px;
    grid-area: sidebar;
    /* display:flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-areas:    "title"
                            "text"
                            "map";
}

.contenedor .sidebar #sub1{
    grid-area: title;
    display: flex;
    align-content: center;
    justify-content: center;
}

.contenedor .sidebar #map{
    grid-area: map;
    display: flex;
    justify-content: center;
}
.contenedor .sidebar #location{
    grid-area: text;
    display: flex;
    text-align: justify;
    text-justify: distribute;
}


.contenedor .widget-1,
.contenedor .widget-2{
    background: #123D8C;
    color: #fff;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1;
}
.contenedor .widget-2{
    grid-area: widget-2;
}

.contenedor .footer{
    background: #2E4F8C;
    color: #fff;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
    /* grid-template-columns: 1fr 1fr; */
}

.footer h3{
    /* float: inline-start; */
}

.social{
    position: relative;
    left: 20%;
    width: fit-content;
    text-align: end;
    
}

.fa-brands{
    color: #fff;
    padding: 10px;
    font-size: 30px;
    width: 10%;
    text-align: center;
    text-decoration: dotted;
    -webkit-transition: font-size .3s ease;
    -moz-transition: font-size .3s ease;
    -o-transition: font-size .3s ease;
    transition: font-size .3s ease;
}
.fa-brands:hover{
    opacity:0.7;
    font-size: 35px;
}



/* FORMULARIOS */

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario_label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario_grupo-input{
    position: relative;
}

.formulario_input{
    width: 80%;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario_input:focus{
    border: 3px solid #123D8C;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.formulario_input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario_input-error-activo{
    display: block;
}

.formulario_validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario_checkbox{
    margin-right: 10px;
}

#grupo_terminos,
.formulario_mensaje,
.formulario_grupo-btn-enviar{
    grid-column: span 2;
}

#grupo_consulta{
    grid-column: span 2;
}

.formulario_mensaje{
    height: 45px;
    line-height: 45px;
    background-color: firebrick;
    padding: 0 15px;
    border-radius: 4px;
    display: none;
}

.formulario_mensaje-activo{
    display:block;
}

.formulario_mensaje p{
    margin: 0;
}

.formulario_grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario_btn:hover{
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.formulario_mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario_mensaje-exito-activo{
    display: block;
}

/* ---Estilos validacion--- */


.formulario_grupo-correcto .formulario_validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.formulario_grupo-incorrecto .formulario_label{
    color: #bb2929;
}
.formulario_grupo-incorrecto .formulario_validacion-estado{
    color: #bb2929;
    opacity: 1;
}
.formulario_grupo-incorrecto .formulario_input{
    border: 3px solid #bb2929;
}


/* MEDIA QUERIES */

    @media screen and (max-width: 641px){
        .contenedor .header{
            flex-direction: column;
        }

        .contenedor{
            display:inline-flex;
            flex-direction: column;
            margin: 30px;
        }
        .footer{
            flex-direction: column-reverse;
            align-content:center;
        }
        .social{
            text-align: center;
            position: relative;
            left: 0%;
            width: fit-content;
        }
        
        .fa-brands{
            color: #fff;
            padding: 25px;
            font-size: 30px;
            /* width: 5%; */
            text-align: center;
            text-decoration: dotted;
            -webkit-transition: font-size .3s ease;
            -moz-transition: font-size .3s ease;
            -o-transition: font-size .3s ease;
            transition: font-size .3s ease;
        }
        .fa-brands:hover{
            opacity:0.7;
            font-size: 35px;
        }

        .formulario{
            display: grid;
            grid: template 1fr;
        }

        .formulario_grupo {
            grid-column: 1;
        }
    
        .formulario_btn {
            width: 100%;
        }

}

@media screen and (max-width: 1007px){

    .contenedor .header{
        flex-direction: column;
    }

    .contenedor .header,
    .contenedor .contenido,
    .contenedor .sidebar{
        margin-bottom: 15px;
    }


    .formulario{
        display: grid;
        grid: template 1fr;
    }

    .formulario_grupo {
        grid-column: 1;
    }


    .formulario_btn {
        width: 100%;
    }




    .contenedor .footer{
        background: #2E4F8C;
        color: #fff;
        grid-area: footer;
        display: flex;
        flex-direction: column-reverse;
        align-content:center;
    }
    
    .footer h3{
        text-align: center;
        /* float: inline-start; */
    }
    
    .social{
        text-align: center;
        position: relative;
        left: 0%;
        width: fit-content;
    }
    
    .fa-brands{
        color: #fff;
        padding: 15px;
        font-size: 30px;
        /* width: 5%; */
        text-align: center;
    }

}